<!-- views/pages/show.ejs -->

<!DOCTYPE html>
<html lang="en" xmlns:margin-top="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1024" />
        <title>BetterShow | Show</title>
        <link href="http://fonts.googleapis.com/css?family=Oswald:bold|Arvo:bold|Cutive+bold|Orbitron:bold|Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
	<!-- div style="float:right;"><button style="top: 0; right:0;" onclick="launchFullscreen(document.documentElement);">[]</button></div -->
		
	<!-- audio player -->
    <audio id="audio_player" loop>
		<!-- source preload="auto" src="audio/SleepAway.mp3" type="audio/mpeg" -->
		<source src="audio/<%= page_params.audio %>" type="audio/ogg">
        Your browser does not support HTML5 audio.
    </audio>

        <div id="impress">

			<!-- dynamically created slides -->
			<% slides.forEach(function(slide) { %>
			<div id="<%= slide.id %>" class="step slide" dur="<%=slide.dur%>" <%= slide.attribs %>>
				<% if(slide.type == "text") { %>

				<div><p class="s_title1"><%= slide.title %></p>
					<p class="s_title2"><%= slide.description %></p>
					<img src="<%=slide.img%>" width=300/>
					<div class="credit"><%= slide.credit %></div>
				</div>

				<% } else if(slide.type == "iframe") { %>

					<iframe style="margin-top:40px;" src="<%= slide.src %>"></iframe>

				<% } else if(slide.type == "img") { %>

					<div><img class="slide_pic" src="<%= slide.img %>"></div>
					<p class="normal_txt"><%= slide.title %></p>
					<p class="credit"><%= slide.credit %></p>

				<% } %>
			</div>
			<% }); %>

			<!-- the youtube player -->
            <div id="video" class="step slide" <%= page_params.video_attrib %>>
				<div id="player"></div>
            </div>

        </div> <!-- end of slides -->


       	<script src="js/impress.js"></script>
        <script src="js/jquery.min.js"></script>
		<script src="js/bshow.js"></script>

        <script>
            var api = impress();
            api.init();
			init_app();

	// videos
	var videos = ["<%= page_params.video_id %>"];   // just one for now
			
	var timing = <%=page_params.timing%>;
	var video_timing = timing * 5 // will be set later
	var interval = 0;
	// auto-play code
	$(document).ready(function(){
  
  //             interval = setInterval(function(){
   //                 api.next();
    //            },timing);
	interval = setInterval(api.next, timing);

	// play audio
	playSound();
		
	// impress stepping events
	document.addEventListener('impress:stepenter', function(e){
		clearInterval(interval);
		var duration = timing;
		var dur_attr = e.target.getAttribute('dur');
		if( dur_attr != null && dur_attr != "")
		{
			duration = parseInt(dur_attr);
		}
		if(e.target.getAttribute('id') == "video")
		{
			pauseSound();
			if(player)
				player.playVideo();
			duration  = video_timing;
		}
		else if(e.target.getAttribute('id').indexOf("video_") != -1) // a streaming vedio slide
		{
			pauseSound();
		}
		interval = setInterval(api.next, duration);
	});

	document.addEventListener("impress:stepleave", function (event) {
		if (event.target.getAttribute('id') == "video") {
			player.stopVideo();
			playSound();
//			player.cueVideoById(getVideoId());  // randomly loads the next video
		}
		else if (event.target.getAttribute('id').indexOf("video_") != -1)
		{
			playSound();
//			event.target.hidden = true;
		}
	}, false);

		//  reload content event
		setTimeout(reloadContent, parseInt('<%= page_params.reload_timing %>'));
	});  // end of document ready()

	// youtube player
	 var tag = document.createElement('script');
	 
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	// 3. This function creates an <iframe> (and YouTube player)
	//    after the API code downloads.
	var player;
	function onYouTubeIframeAPIReady() {
			var v_id = videos[0];
			console.log(v_id);
			player = new YT.Player('player', {
			height: '390',
			width: '640',
			videoId: v_id,
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
	}
	function onPlayerReady(event) {
	//       event.target.playVideo();
		video_timing = player.getDuration() * 1000;
		if(video_timing == 0) video_timing = timing*5; 
		var max_timing = 15*60*1000;     // 15min
		if(video_timing > max_timing)
			video_timing = max_timing;
	}
	function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.CUED) {
		}
	}

			function reloadContent() {
				console.log("======================== reloadContent called.");

				location.reload(true);
			}

        </script>
    </body>
</html>

